<section style="display: flex; flex-direction: column">
  <button
    *ngIf="!showBrowseButton"
    class="login_button"
    (click)="loginGoogle()"
    style="padding: 15px"
  >
    Login to Google
  </button>

  <div
    *ngIf="showBrowseButton"
    style="display: flex; flex-direction: column; padding: 15px"
  >
    <a
      target="_blank"
      style="
        display: flex;
        flex-direction: column;
        padding: 5px;
        padding-bottom: 10px;
      "
      *ngIf="downloadLink"
      [href]="downloadLink"
      (click)="downloadFile()"
      >Download file</a
    >

    <button class="login_button" style="padding: 15px" (click)="launchPicker()">
      Browse your drive
    </button>
  </div>
</section>
