@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    background-color: #232323;
    color: white;
    font-size: 20px;
    font-family: Inter, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

@font-face {
    font-family: "Inter";
    src: url("assets/fonts/Inter.ttf");
}
